.game-board {
  text-align: center;
  margin: 0;
  padding: 0 10px 10px;
  background-color: #2C3E50;
  color: #ECF0F1;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.players-scores::-webkit-scrollbar {
  display: none;
}

.players-scores {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 10px 50px 10px; /* 0 en haut, 10px à gauche et à droite, 50px en bas */
  box-sizing: border-box;
}

.dartboard {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}

.dartboard-row {
  display: contents;
}

.dartboard-number {
  background-color: #34495e;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.last-row {
  display: contents;
  grid-column-gap: 5px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.double-button, .triple-button, .back-button {
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  margin: 0;
  flex-grow: 1;
}

.dartboard-number:active, .double-button:active, .triple-button:active, .back-button:active {
  background-color: #2980B9;
}

.double-button {
  background-color: #E67E22;
  grid-column: span 2;
}

.triple-button {
  background-color: #D35400;
  grid-column: span 2;
}

.back-button {
  background-color: #C0392B;
  grid-column: span 2;
}

.contract-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.contract-item {
  padding: 10px;
  background-color: #3498DB;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.contract-item.success {
  background-color: #27AE60;
}

.contract-item.failure {
  background-color: #E74C3C;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-active {
  outline: 2px solid #007bff; /* Cadre autour du joueur actif */
  outline-offset: 8px; /* Espace entre le cadre et le contenu */
  border-radius: 8px; /* Arrondi des coins du cadre */
}

.player-avatar {
  width: 40px; 
  object-fit: cover; 
  margin-right: 10px;
}

.player-details {
    display: flex;
    flex-direction: column;
    flex: 1; /* Permet au conteneur de s'étendre */
}

.player-main-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligne les éléments sur la même ligne */
}

.name-and-score {
    display: flex;
    flex-direction: column;
    
}

/* Cercle de classement */
.ranking-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px; /* Espacement entre le cercle et l'avatar */
  background-color: gray; /* Couleur par défaut */
  text-align: center;
  line-height: 30px; /* Aligner le texte verticalement */
  color: white;
  font-weight: bold;
}

.ranking-circle.gold {
  background-color: gold;
}

.ranking-circle.silver {
  background-color: silver;
}

.ranking-circle.bronze {
  background-color: #cd7f32; /* Bronze */
}

.player-name {
    font-weight: bold;
}

.player-score {
    margin-top: 5px;
}

.player-additional-info {
    margin-left: auto; /* Aligne les informations supplémentaires à droite */
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: #0c8adf;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}

li {
    margin-bottom: 20px;
}

.contracts-status {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 2px;
  margin-top: 5px;
}

.contract-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.contract-success {
  background-color: green;
}

.contract-fail {
  background-color: red;
}

.contract-pending {
  background-color: inherit;
}

.back-button-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding-top: 3px;
}

.info-icon {
  margin-left: 10px;
  color: #3498db; /* Couleur pour l'icône */
  font-size: 20px;
}

.contract-result-container {
    font-size: 1.2em;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contract-result-container span,
.contract-result-container p {
    margin-right: 10px; /* Espacement entre le texte et le bouton */
}

.result-button {
    background-color: #34495E;
    border: none;
    border-radius: 5px;
    min-height: 48px;
    padding: 10px;
    color: white;
}

.contract-result.success {
    color: #2ecc71; /* Couleur du texte pour "Contrat Réussi" */
}

.contract-result.failure {
    color: #e74c3c; /* Couleur du texte pour "Contrat Raté" */
}

.contract-result.confirmed {
    color: #f39c12; /* Couleur du texte pour "Capital Confirmé" */
}

.restart-game-button {
  background-color: #3498DB;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
  min-height: 48px;
}

/* Ajouter une apparence grisée pour les boutons désactivés */
.disabled-button {
  background-color: #BDC3C7;
}

/* État désactivé */
button:disabled {
  opacity: 0.6; /* Pour rendre le bouton moins visible */
  pointer-events: none; /* Empêche toute interaction */
}

.game-over-title {
  font-size: 24px;
  color: #ecf0f1;
  margin-bottom: 20px;
  font-weight: bold;
}

.game-over-winners {
  font-size: 18px;
  color: #ecf0f1;
}

.winner-name {
  font-weight: bold;
  color: #2ecc71; /* Couleur verte pour les gagnants */
}

.points {
  font-size: 20px;
  font-weight: bold;
  color: #e74c3c; /* Couleur rouge pour les points */
}