.game-board {
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #2C3E50;
  color: #ECF0F1;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  height: 100%; /* Prend toute la hauteur de l'écran */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligne les éléments en haut */
  align-items: center;
  overflow: hidden;
}

.players-scores::-webkit-scrollbar {
  display: none; /* Masquer la barre de défilement pour Chrome, Safari et autres navigateurs Webkit */
}

.dartboard {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 5px;
  box-sizing: border-box;

}

.players-scores {
  width: 100%;
  flex-grow: 1; /* Permet à la section de prendre tout l'espace vertical disponible */
  overflow-y: auto; /* Active le défilement vertical */
  padding: 10px; /* Ajoute un peu de padding autour des scores */
  box-sizing: border-box;
}

.dartboard {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px; /* Ajoute un peu de padding autour de la dartboard */
}

.dartboard-row {
  display: contents;
}

.dartboard-number {
  background-color: #34495E;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Ajout de styles pour la dernière ligne (double, triple, back buttons) */
.last-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  gap: 5px;
}

.double-button, .triple-button, .back-button {
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.dartboard-number:hover, .double-button:hover, .triple-button:hover, .back-button:hover {
  background-color: #2980B9;
}

.double-button {
  background-color: #E67E22;
}

.triple-button {
  background-color: #D35400;
}

.back-button {
  background-color: #C0392B;
}

.selected {
  outline: 2px solid #FFC107;
}

.contract-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.contract-item {
  padding: 10px;
  background-color: #3498DB;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.contract-item.success {
  background-color: #27AE60;
}

.contract-item.failure {
  background-color: #E74C3C;
}

.player-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.player-active {
  outline: 2px solid #007bff; /* Cadre autour du joueur actif */
  outline-offset: 8px; /* Espace entre le cadre et le contenu */
  border-radius: 8px; /* Arrondi des coins du cadre */
}

.player-avatar {
  width: 40px; 
  object-fit: cover; 
  margin-right: 10px;
}

.player-details {
    display: flex;
    flex-direction: column;
    flex: 1; /* Permet au conteneur de s'étendre */
}

.player-main-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligne les éléments sur la même ligne */
}

.name-and-score {
    display: flex;
    flex-direction: column; /* Empile le nom et le score verticalement */
}

/* Cercle de classement */
.ranking-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px; /* Espacement entre le cercle et l'avatar */
  background-color: gray; /* Couleur par défaut */
  text-align: center;
  line-height: 30px; /* Aligner le texte verticalement */
  color: white;
  font-weight: bold;
}

.ranking-circle.gold {
  background-color: gold;
}

.ranking-circle.silver {
  background-color: silver;
}

.ranking-circle.bronze {
  background-color: #cd7f32; /* Bronze */
}

.player-name {
    font-weight: bold;
}

.player-score {
    margin-top: 5px;
}

.player-additional-info {
    margin-left: auto; /* Aligne les informations supplémentaires à droite */
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: #0c8adf;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.contracts-status {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 2px;
  margin-top: 5px;
}

.contract-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.contract-success {
  background-color: green;
}

.contract-fail {
  background-color: red;
}

.contract-pending {
  background-color: inherit;
}

.gametitle, .contract-result {
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin-right: 10px; /* Espacement entre le texte et le bouton */
}

.contract-result-container {
    font-size: 1.2em;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contract-result-container span,
.contract-result-container p {
    margin-right: 10px; /* Espacement entre le texte et le bouton */
}

.result-button {
    background-color: #34495E;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    color: white;
}

.contract-result.success {
    color: #2ecc71; /* Couleur du texte pour "Contrat Réussi" */
}

.contract-result.failure {
    color: #e74c3c; /* Couleur du texte pour "Contrat Raté" */
}

.contract-result.confirmed {
    color: #f39c12; /* Couleur du texte pour "Capital Confirmé" */
}

.restart-game-button {
  background-color: #3498DB;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
  height: 40px;
}