body.light .home {
  background-color: #ECF0F1;
  color: #2C3E50;
}

/* Empêche les gestes tactiles comme le pinch-to-zoom et le double-tap zoom */
html, body {
  height: 100%; /* S'assurer que le body prend 100% de la hauteur */
  margin: 0; /* Supprimer toute marge */
  padding: 0; /* Supprimer tout padding */
  overflow: hidden; /* Empêcher le scroll */
  box-sizing: border-box; /* Utiliser un modèle de box-sizing compatible */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2C3E50;
  padding-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Prend toute la largeur disponible */
  height: 100vh;  /* Fallback pour les anciens navigateurs */
  height: 100dvh; /* Utilisation de dvh pour les navigateurs compatibles */
  max-width: 500px; /* Limiter la largeur sur les grands écrans */
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
}

.capital {
  width: auto;
  height: 50px;
  margin-right: 40px;
}

/* Ajouter un ajustement pour les petits écrans */
@media (max-width: 440px) {
  .logo {
    width: 90px;
    margin-left: 30px; /* Réduire l'écart sur les petits écrans */
  }
}

@media (max-width: 400px) {
  .logo {
    width: 80px;
    margin-left: 20px; /* Réduire l'écart davantage sur les très petits écrans */
  }

  .capital {
  width: auto;
  height: 40px;
}
}

.instruction-text {
  color: #767a7a;
}
