body {
  font-family: 'Roboto', sans-serif;
  background-color: #34495E; /* Couleur de fond uniforme */
  margin: 0;
  padding: 0;
  color: white; /* Changer la couleur du texte pour qu'il soit visible */
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 413px; /* Supprimez la limitation de largeur */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit; /* Assurez-vous que la couleur de fond est héritée */
}

.home {
  text-align: center;
  margin-top: 10px; /* Réduire la marge pour mobile */
  background-color: white;
  padding: 5px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 95%; /* Limiter la largeur pour mobile */
  margin: 0 auto; /* Centrer sur l'écran */
}

.header {
  display: flex;
  align-items: center; /* Centre verticalement les éléments */
  justify-content: center; /* Centre horizontalement le contenu */
  margin-bottom: 5px; /* Espace sous le titre */
}

.logo {
  width: 50px; /* Ajustez la taille du logo en fonction de vos besoins */
  height: 50px; /* Assurez-vous que le logo reste carré */
  margin-right: 10px; /* Espace entre le logo et le titre */
}

.header h1 {
  font-size: 1.8em; /* Ajustez la taille du titre si nécessaire */
  color: #063a47;
  margin: 0; /* Supprimez les marges par défaut du titre */
}

