body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #2C3E50;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Empêche les barres de défilement de s'afficher */
  height: 100%; /* S'assure que le body prend 100% de la vue */
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2C3E50;
  padding-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Prend toute la largeur disponible */
  height: 100%; /* Prend toute la hauteur disponible */
  max-width: 500px; /* Limiter la largeur sur les grands écrans */
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 50px;
}

.capital {
  width: auto;
  height: 50px;
  margin-right: 20px;
}

/* Ajouter un ajustement pour les petits écrans */
@media (max-width: 440px) {
  .logo {
    width: 90px;
    margin-left: 30px; /* Réduire l'écart sur les petits écrans */
  }
}

@media (max-width: 400px) {
  .logo {
    width: 80px;
    margin-left: 20px; /* Réduire l'écart davantage sur les très petits écrans */
  }

  .capital {
  width: auto;
  height: 40px;
}
}

.instruction-text {
  color: #767a7a;
}