.player-selection {
  text-align: center;
  margin: 0;
  padding: 0 10px;
  background-color: #2C3E50;
  color: #ECF0F1;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  height: 100%; /* Prend toute la hauteur de l'écran */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligne les éléments en haut */
  align-items: center;
  overflow: hidden;
}

.player-list {
  list-style-type: none;
  padding: 10px;
  width: 100%;
  flex-grow: 1; /* Permet à la liste de s'étendre */
  overflow-y: auto; /* Active le défilement */
  scrollbar-width: none; /* Masquer la barre de défilement pour Firefox */
  -ms-overflow-style: none; /* Masquer la barre de défilement pour Internet Explorer et Edge */
}

.player-list::-webkit-scrollbar {
  display: none; /* Masquer la barre de défilement pour Chrome, Safari et autres navigateurs Webkit */
}

.player-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #34495E;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Ajout de transitions */
}

.player-item:active {
  background-color: #3B5998;
}

.player-avatar {
  width: 40px; 
  object-fit: cover; 
  margin-right: 10px;
}

.player-info {
  flex-grow: 1;
  text-align: left;
  display: flex;
  align-items: center;
}

.player-name {
  font-weight: bold;
  font-size: 1em;
  color: #ECF0F1;
}

.add-player-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-player-form .player-input {
  height: 48px; /* Assure une hauteur fixe pour l'input */
  flex-grow: 1; /* Permet à l'input de prendre tout l'espace disponible */
  border-radius: 5px;
  border: 1px solid #BDC3C7;
  padding: 0 10px; /* Padding pour un meilleur espacement interne */
  margin-right: 10px;
  box-sizing: border-box; /* Assure que la hauteur inclut le padding */
}

.add-button {
  background-color: #3498DB;
  color: white;
  border: none;
  font-size: 1.5em; /* Taille du "+" */
  cursor: pointer;
  border-radius: 5px;
  min-height: 48px; /* Hauteur identique à celle de l'input */
  width: 48px; /* Rendre le bouton carré */
  display: flex;
  align-items: center;
  justify-content: center; /* Centre le contenu (le "+") */
  padding: 0; /* Supprimer le padding interne */
  box-sizing: border-box; /* Assure que la taille inclut les bordures */
}

.add-button:active {
  background-color: #2980B9;
}

.start-game-button {
  background-color: #3498DB;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  min-height: 48px;
  margin-top: auto; /* Cela s'assure que le bouton reste tout en bas du conteneur */
}

.start-game-button:disabled {
  background-color: #BDC3C7;
}

.privacy-link {
  margin-top: 10px;
  text-align: center;
  align-items: flex-end;
  font-size: 0.9em;
  
}

.privacy-link a {
  color: white;
  text-decoration: none;
}

.selected {
  outline: 2px solid #3498db;
}

/* Style pour l'icône de suppression */
.delete-icon {
  font-size: 1em;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease;
}
